@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background: var(--bg);
    color: var(--text);

    transition:
        background 0.4s ease,
        color 0.3s ease;
}

:root {
    --bg: #050505;
    --text: #ffffff;
    --text-muted: #a1a1aa;
}

[data-theme="red"] {
    --bg: linear-gradient(180deg,
            #2b0000 0%,
            #220000 40%,
            #1b0101 100%);

    --text: #ffffff;
    --text-muted: #c4c4c4;

    --border: rgba(120, 0, 0, 0.4);
}